<div id="LoadingScreen">
    <div class="d-flex justify-content-center bg-dark vh-100 opacity-custom-95" style="z-index: 1000;">
        <div class="align-self-center text-center" style="width:100px;">
            <canvas id="torchCanvas" class="d-flex justify-content-center d-inline">
            </canvas>
        </div>
    </div>
</div>
<script src="~/js/Sprite.js" asp-append-version="true" charset="utf-8"></script>

