@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p id="welcomeText" class="h2 text-light w-25 mt-5">Welcome to my hut! Relax, unwind, and make yourself at home. Enjoy the gentle crackle of the fire and the inviting aroma of freshly brewed tea.</p>
</div>
