
<div id="SearchBoxForItemViewer" class="container columnSearchMenu">
    <div class="search ">
        <div class="row">
            <div>
                <div class="search-2">
                    <i class='bx bxs-map'></i>
                    <input id="SearchBoxInput" type="text" name="input" autocomplete="off" oninput="chooseItemInSearch()" placeholder="Search and point">
                </div>
@*                 <div>
                    <button id="SearchBoxForItemsButton" class="btn btn-secondary" onclick="">Search</button>
                </div> *@
            </div>

        </div>
    </div>
    <ul id="listWithItems" style="height: 300px;" class="list-group overflow-auto">
    </ul>
</div>


