<div id="SpellNotFoundMainDiv" style="overflow: auto;" class="bg-dark vh-100 opacity-custom-95 p-3">
    <p class="text-light h5">Ah, the spell! Yes, yes, I remember... or at least, I should remember. Alas, the years have played their tricks on me, and the precise weave of that enchantment seems to have slipped through the cracks of my memory. A pity, truly.</p>
    <p class="text-light h5">But do not despair, for magic is vast and wondrous, and knowledge resides in many corners of the world. Perhaps you might consult with someone else. There are always other paths to the spell you desire. And if fate is kind, I may yet recall it after some tea... or a long nap.</p>
</div>

